body {
  background-color: honeydew;
}

.garden {
  border: 2px solid maroon;
  padding: 2px;
  gap: 2px;
}

.garden p {
  margin: 0;
  border-radius: 5px;
  padding: 0.25rem;
  background-color: wheat;
  text-align: center;
}

.garden {
  display: grid;
}

.peas {
  grid-area: peas;
}
.onions {
  grid-area: onions;
}
.tomatoes {
  grid-area: tomatoes;
}
.lettuce {
  grid-area: lettuce;
}
.carrots {
  grid-area: carrots;
}

/* Level 1 */
#level-1 {
  grid-template-areas:
    "peas onions"
    "tomatoes lettuce"
    "carrots .";
}

/* Level 2 */
#level-2 {
  grid-template-areas:
    "peas peas"
    "onions tomatoes"
    "lettuce carrots";
}

/* Level 3 */
#level-3 {
  grid-template-areas:
    "peas onions onions"
    "tomatoes tomatoes lettuce"
    "carrots carrots carrots";
}

/* Level 4 */
#level-4 {
  grid-template-areas:
    "peas peas onions carrots"
    "tomatoes lettuce onions carrots";
}

/* Level 5 */
#level-5 {
  grid-template-areas:
    "carrots . onions . lettuce"
    "carrots . onions peas peas"
    "carrots tomatoes tomatoes tomatoes .";
}

/* Level 6 */
#level-6 {
  grid-template-areas:
    "carrots carrots carrots carrots carrots"
    "onions peas peas peas tomatoes"
    "onions peas peas peas tomatoes"
    "lettuce lettuce lettuce lettuce lettuce";
}

/* Level 7 */
#level-7 {
  grid-template-columns: repeat(5, minmax(5ch, 1fr));
  grid-template-areas:
    "carrots carrots carrots carrots carrots"
    "onions peas peas peas tomatoes"
    "onions peas peas peas tomatoes"
    "lettuce lettuce lettuce lettuce lettuce";
}

/* Level 8 */
#level-8 {
  grid-template-columns: repeat(auto-fit, 15ch);
  grid-auto-rows: 5ch;
}

#level-8 p {
  grid-area: auto;
}
